.food-display{
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 7% ;
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
    margin-left: 10%;
   
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 35px;
    row-gap: 50px;
}